[user]
	name = Jay-Karia
	email = jay.sanjay.karia@gmail.com
	signingkey = 2DF36D7C7E925075
[credential]
	helper = cache
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[alias]
	co = checkout
	ci = commit
	st = status -s
	a = add .
	cm = commit -m
	ph = push
	pl = pull
