# Shortcuts
alias code="code-insiders ."

# Navigation
alias ..="cd .." # Go up one directory
alias ...="cd ../.." # Go up two directories
alias ....="cd ../../.." # Go up three directories
alias .....="cd ../../../.." # Go up four directories
alias ~="cd ~"

alias dl="cd ~/Downloads"
alias dk="cd ~/Desktop"
